/week4-072.1.YourFirstAccount/nbproject/private/
/week4-072.2.YourFirstMoneyTransfer/nbproject/private/
/week4-072.3.MoneyTransfers/nbproject/private/
/week4-073.Product/nbproject/private/
/week4-074.Multiplier/nbproject/private/
/week4-075.DecreasingCounter/nbproject/private/
/week4-076.Menu/nbproject/private/
/week4-077.LyyraCard/nbproject/private/
/week4-078.ClockUsingCounter/nbproject/private/
/week4-079.NumberStatistics/nbproject/private/
/week4-080.Dice/nbproject/private/
/week4-081.PasswordRandomizer/nbproject/private/
/week4-082.Lottery/nbproject/private/
/week4-083.HangmanLogic/nbproject/private/